{% extends "main/base.html" %}
{% load static %} 
{% block title %}Henry's posts{% endblock %}
{% block postdescr %}A list of post ordered by year {% endblock %}
{% block content %}


    <!-- Article content -->
    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
      <meta itemprop="headline" content="{{article.title}}">
      <meta itemprop="description" content="A variety of common markup showing how the theme styles them.">
      <meta itemprop="datePublished" content="2013-01-11T00:00:00-05:00">

      <!-- Article content wrapper -->
      <div class="page__inner-wrap">
        <header>
          <!-- title -->
          <h1 id="page-title" class="page__title" itemprop="headline">
            <a href="https://mmistakes.github.io/minimal-mistakes/markup/markup-html-tags-and-formatting/" itemprop="url">{{article.title}}</a>
          </h1>

          <!-- time -->
          <p class="page__meta">
            <span class="page__meta-readtime"><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>
              {{ article.created_at|date }}</span>
            </span>
          </p>
          <p class="page__taxonomy", style="font-size: .75em;">
            <strong><i class="fas fa-fw fa-tags" aria-hidden="true"></i> Tags: </strong>
            {% if article.tags.exists %}
              <span itemprop="keywords">
                {% for tag in article.tags.all %}
                  <a href="/article/tag/{{ tag }}" class="page__taxonomy-item p-category" rel="tag">{{ tag }}</a><span class="sep">, </span>
                {% endfor %}
              </span>
            {% endif %}
          </p>
        </header>


        <section class="page__content" itemprop="text">


          <!-- content -->
          <p> Arcu vitae elementum curabitur vitae nunc sed. Mauris a diam maecenas sed enim ut sem. Non enim praesent elementum facilisis. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Nisi porta lorem mollis aliquam ut porttitor leo a. Nec dui nunc mattis enim ut. Pellentesque adipiscing commodo elit at imperdiet. </p>

          
          <p>Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat:</p>

          <div class="language-html highlighter-rouge">
            <div class="highlight">
              <pre class="highlight"><code><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"magic-button"</span><span class="nt">&gt;</span>Button<span class="nt">&lt;/a&gt;</span></code>              </pre>
            </div>
          </div>

          <p>Pulvinar proin gravida hendrerit lectus a. Pellentesque dignissim enim sit amet venenatis urna cursus eget. Euismod quis viverra nibh cras pulvinar mattis nunc. Enim ut sem viverra aliquet eget. Nunc aliquet bibendum enim facilisis gravida. Non diam phasellus vestibulum lorem. Ultrices dui sapien eget mi proin.</p>




        </section>
        <!-- end content -->

      </div>
      <!-- End article content wrapper -->

      <div class="page__comments"></div>

    </article>
    <!-- End Article content -->

{% endblock %}